#banner{
    width:100%;
    background: $lightBlue;
    padding: 1%;
    color: $white;
    text-align: center;
    display: block;
    font-size: 1em;
}

@media screen and (max-width:1050px) {

}

@media screen and (max-width:500px) {

}