#banner{
    width:100%;
    background: $lightBlue;
    padding: 15px;
    color: $white;
    text-align: center;
}

@media screen and (max-width:1050px) {

}

@media screen and (max-width:500px) {

}