footer{
    width:100%;
    background: $darkBlue;
    background-image: url('/images/logo-bg.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    display: flex;
    height: 50vh;
    justify-content: space-between;
    align-items: flex-end;
    color: $white;

    i,a,span{
        color: $white;
    }
    i{
        font-size: 2em;
    }

    #connect{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 10%;
    }
}

@media screen and (max-width:1050px) {

}

@media screen and (max-width:500px) {
    footer{    
        #connect{
            width: 35%;
        }
    }
}