header{
    width:100%;
    background: #ffffff;;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 5;

    nav{
        display: flex;
        justify-content: space-between;
        align-items: center;

        #logo{
            width: 20%;

            a{
                img{
                    width: 70%;
                }
            }
        }
        #menu{
            width: 55%;
            color: $white;

            #container{
                display: none;
            }

           ul{
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;

            li{
                a{
                    font-weight: 600;
                    font-size: 1.2em;
                }
            }
           }
        }
        #toggle-nav{
            display: none;
        }
    }
}

@media screen and (max-width:1050px) {
    header{
        nav{
            #logo{
                width: 34%;

                a{
                    img{
                        width: 100%;
                    }
                }
            }
            #menu{
                position: fixed;
                left: 0px;
                top: 0px;
                z-index: 5;
                background:$darkerBlue;
                width: 5px;
                opacity: 0;
                transition: all .2s ease-in;
                height: 100vh;
                padding: 3% 5%;

                

                #container{
                    display: block;
                    width: 100%;

                    display: flex;
                    justify-content: space-between;
                    align-items: center;

                    margin-bottom: 50px;

                    a{
                        width: 28%;
                    }

                    #close{
                        font-size: 1.8em;
                        color: $white;

                        i{
                            color: $white;
                        }
                    }
                }

                ul{
                    display: flex;
                    justify-content: flex-start;
                    align-items: flex-start;
                    flex-direction: column;

                    li{
                        margin-bottom: 40px;
                        a{
                            color: $white;
                        }
                    }
                }
                
                
                &.show{
                    width: 100%;
                    opacity: 1;
                }
            }
            #toggle-nav{
                display: block;
                font-size: 1.8em;
                color: $darkerBlue;
            }
        }
    }
}


@media screen and (max-width:500px) {
    header{
        nav{
            #logo{
                width: 40%;
            }
            #menu{
                #container{

                    a{
                        width: 40%;
                    }
                }
            }
        }
    }
}