#programme{
    width:100%;
    background:#f3f3f3;
    color: $white;

    #intro{
        text-align: center;
        margin-bottom: 40px;


        h2{
            margin-bottom: 10px;
        }
    }

    #programmes{
        display: flex;
        justify-content: space-between;
        align-items: flex-start;

        article{
            width: 32%;
            background: $white;
            box-shadow: 2px 3px 12px $background;
            position: relative;

            .content{
                padding: 4% 7%;

                h3{
                    margin-bottom: 10px;
                }

                p{
                    margin-bottom: 20px;
                }

                .join{
                    padding: 3% 0px;
                    color: $lightBlue;
                    i{
                        color: $lightBlue;
                    }
                }

                .bagde{
                    background: rgba($color: #ffffe2, $alpha: 1.0);
                    position: absolute;
                    top: 0px;
                    left: 0px;
                    padding: 2% 3%;
                    // border-radius: 0px 25px 25px 0px;

                    span{
                        color: $darkBlue;
                    }
                }
            }
        }
    }
}

@media screen and (max-width:800px) {
    #programme{     
        #programmes{
            display: flex;
            flex-direction: column;
            align-items: flex-start;
    
            article{
                width: 100%;
                margin-bottom: 30px;
                h3{
                    margin-bottom: 20px;
                }
            }
        }
    }
}