#our-story{
    width:100%;
    background: $white;

    display: flex;
    justify-content: space-between;
    align-items: center;

    #image{
        width: 45%;
        overflow: hidden;

        img{
            width: 110%;
            object-fit: cover;
            -o-object-fit: cover;
            object-position: center;
        }
    }
    #intro{
        width: 50%;
        h2{
            margin:0px;
            line-height: 45px;
        }
        p{
            margin:20px 0px;
        }
    }
}

@media screen and (max-width:900px) {
    #our-story{    
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    
        #image{
            width: 90%;
        }
        #intro{
            width: 100%;
            text-align: center;
            h2{
                margin-bottom: 20px;
            }
            p{
                margin:20px 0px;
                text-align: left;
            }
        }
    }
}