@import url("https://fonts.googleapis.com/css2?family=Mukta:wght@200;300;400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,900&display=swap");
* {
  padding: 0px;
  margin: 0px;
  color: #010336;
  box-sizing: border-box;
  font-family: "Mukta", sans-serif;
  font-size: 1em;
}

html {
  scroll-behavior: smooth;
}

body {
  width: 100%;
  background: #ffffff;
}

h1, h2, h3 {
  font-family: "Mukta", sans-serif;
}

header {
  padding: 10px 5%;
}

section {
  padding: 80px 5%;
}

footer {
  padding: 8% 5%;
}

a {
  font-weight: 500;
  text-decoration: none;
  color: inherit;
  cursor: pointer;
  font-size: 1em;
}

p {
  font-size: 1.2em;
}

ul {
  list-style: none;
}

h1 {
  font-size: 3.1em;
}

h2 {
  font-size: 2em;
  font-weight: 800;
}

h3 {
  font-size: 1.5em;
}

h3.small {
  font-size: 1em;
}

img {
  width: 100%;
}

.btn {
  padding: 2% 8%;
  background: #000000;
  color: #ffffff;
  display: inline-block;
  transition: background 0.2s ease-in;
}

i {
  color: inherit;
}

button {
  outline: none;
  border: none;
  cursor: pointer;
  background: none;
}

@media screen and (max-width: 1000px) {
  section {
    padding: 70px 5%;
  }
  h1 {
    font-size: 2.5em;
  }
  h2 {
    font-size: 1.8em;
  }
}
@media screen and (max-width: 760px) {
  header {
    padding: 4% 5%;
  }
}
header {
  width: 100%;
  background: #ffffff;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 5;
}
header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header nav #logo {
  width: 20%;
}
header nav #logo a img {
  width: 70%;
}
header nav #menu {
  width: 60%;
  color: #ffffff;
}
header nav #menu #container {
  display: none;
}
header nav #menu ul {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header nav #menu ul li a {
  font-weight: 600;
  font-size: 1.2em;
}
header nav #toggle-nav {
  display: none;
}

@media screen and (max-width: 1050px) {
  header nav #logo {
    width: 34%;
  }
  header nav #logo a img {
    width: 100%;
  }
  header nav #menu {
    position: fixed;
    left: 0px;
    top: 0px;
    z-index: 5;
    background: #010336;
    width: 5px;
    opacity: 0;
    transition: all 0.2s ease-in;
    height: 100vh;
    padding: 3% 5%;
  }
  header nav #menu #container {
    display: block;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
  }
  header nav #menu #container a {
    width: 28%;
  }
  header nav #menu #container #close {
    font-size: 1.8em;
    color: #ffffff;
  }
  header nav #menu #container #close i {
    color: #ffffff;
  }
  header nav #menu ul {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
  }
  header nav #menu ul li {
    margin-bottom: 40px;
  }
  header nav #menu ul li a {
    color: #ffffff;
  }
  header nav #menu.show {
    width: 100%;
    opacity: 1;
  }
  header nav #toggle-nav {
    display: block;
    font-size: 1.8em;
    color: #010336;
  }
}
@media screen and (max-width: 500px) {
  header nav #logo {
    width: 40%;
  }
  header nav #menu #container a {
    width: 40%;
  }
}
#banner {
  width: 100%;
  background: #0006b1;
  padding: 1%;
  color: #ffffff;
  text-align: center;
  display: block;
  font-size: 1em;
}

main {
  width: 100%;
  background: #E5E5EB;
  padding: 5%;
}
main #intro {
  width: 60%;
  margin: 0px auto;
  text-align: center;
}
main #intro p {
  margin: 20px 0px;
}
main #intro .btn {
  margin: 10px;
}
main #intro #opening-soon {
  background: #ffffff;
  width: 50%;
  margin: 0px auto;
  border-radius: 20px;
  padding: 8px 10px;
  font-weight: 550;
  font-size: 1em;
  margin-top: 25px;
}
main #intro #opening-soon a {
  color: #0006b1;
  font-size: 1em;
}

@media screen and (max-width: 1050px) {
  main {
    padding: 10% 5%;
  }
  main #intro {
    width: 80%;
  }
  main #intro #opening-soon {
    width: 90%;
  }
}
@media screen and (max-width: 500px) {
  main #intro {
    width: 100%;
  }
  main #intro #opening-soon {
    width: 100%;
  }
}
#our-story {
  width: 100%;
  background: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
#our-story #image {
  width: 45%;
  overflow: hidden;
}
#our-story #image img {
  width: 110%;
  object-fit: cover;
  -o-object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
#our-story #intro {
  width: 50%;
}
#our-story #intro h2 {
  margin-bottom: 20px;
}
#our-story #intro p {
  margin: 20px 0px;
}

@media screen and (max-width: 900px) {
  #our-story {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  #our-story #image {
    width: 90%;
  }
  #our-story #intro {
    width: 100%;
    text-align: center;
  }
  #our-story #intro h2 {
    margin-bottom: 20px;
  }
  #our-story #intro p {
    margin: 20px 0px;
    text-align: left;
  }
}
#programme {
  width: 100%;
  background: #f3f3f3;
  color: #ffffff;
}
#programme #intro {
  text-align: center;
  margin-bottom: 40px;
}
#programme #intro h2 {
  margin-bottom: 10px;
}
#programme #programmes {
  display: grid;
  grid-template-columns: 32% 32% 32%;
  justify-content: space-between;
  row-gap: 3%;
}
#programme #programmes article {
  background: #ffffff;
  box-shadow: 2px 3px 12px #E5E5EB;
  position: relative;
}
#programme #programmes article .img-wrapper {
  width: 100%;
  height: 250px;
  margin-bottom: 10px;
}
#programme #programmes article .img-wrapper img {
  width: 100%;
  height: 250px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
#programme #programmes article .content {
  width: 100%;
  padding: 4% 7%;
}
#programme #programmes article .content h3 {
  margin-bottom: 10px;
}
#programme #programmes article .content p {
  margin-bottom: 20px;
}
#programme #programmes article .content .join {
  padding: 3% 0px;
  color: #0006b1;
}
#programme #programmes article .content .join i {
  color: #0006b1;
}
#programme #programmes article .content .bagde {
  background: #fdfdfd;
  position: absolute;
  top: 0px;
  left: 0px;
  padding: 2% 3%;
}
#programme #programmes article .content .bagde span {
  color: #003B65;
}

@media screen and (max-width: 1100px) {
  #programme #programmes {
    grid-template-columns: 48% 48%;
  }
  #programme #programmes article h3 {
    margin-bottom: 20px;
  }
}
@media screen and (max-width: 800px) {
  #programme #programmes {
    grid-template-columns: 100%;
  }
  #programme #programmes article h3 {
    margin-bottom: 20px;
  }
}
#why-us {
  width: 100%;
  background: rgb(250, 255, 244);
  display: flex;
  justify-content: space-between;
}
#why-us #intro {
  width: 30%;
}
#why-us #intro h2 {
  margin-bottom: 40px;
}
#why-us #intro p {
  font-size: 1.6em;
  text-align: left;
}
#why-us #why {
  width: 65%;
  display: flex;
  justify-content: space-between;
  align-items: space-between;
  align-content: space-between;
  flex-wrap: wrap;
}
#why-us #why article {
  width: 45%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 40px;
}
#why-us #why article img {
  width: 20%;
  margin-right: 15px;
}
#why-us #why article div h3 {
  margin-bottom: 10px;
}

@media screen and (max-width: 1100px) {
  #why-us {
    display: flex;
    flex-direction: column;
  }
  #why-us #intro {
    width: 100%;
    margin-bottom: 40px;
  }
  #why-us #intro h2 {
    margin-bottom: 20px;
  }
  #why-us #intro p {
    font-size: 1.2em;
    text-align: left;
  }
  #why-us #why {
    width: 100%;
  }
  #why-us #why article {
    width: 45%;
    margin-bottom: 50px;
  }
  #why-us #why article img {
    width: 35%;
  }
  #why-us #why article div h3 {
    margin-bottom: 15px;
  }
}
@media screen and (max-width: 750px) {
  #why-us #intro {
    width: 100%;
    margin-bottom: 40px;
  }
  #why-us #intro h2 {
    margin-bottom: 20px;
  }
  #why-us #intro p {
    font-size: 1.2em;
    text-align: left;
  }
  #why-us #why {
    width: 100%;
  }
  #why-us #why article {
    width: 100%;
  }
  #why-us #why article img {
    width: 15%;
  }
}
#prepare {
  width: 100%;
  background: #E5E5EB;
  background-image: url("/images/web-design.jpg");
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4% 2%;
}
#prepare #intro {
  width: 60%;
  background: rgb(248, 248, 248);
  padding: 5%;
}
#prepare #intro h2 {
  margin-bottom: 20px;
}
#prepare #intro p {
  margin: 20px 0px;
}

@media screen and (max-width: 1000px) {
  #prepare {
    padding: 18% 2%;
  }
  #prepare #intro {
    width: 100%;
  }
}
footer {
  width: 100%;
  background: #003B65;
  background-image: url("/images/logo-bg.svg");
  background-repeat: repeat;
  background-position: center;
  background-size: contain;
  display: flex;
  min-height: 50vh;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  color: #ffffff !important;
}
footer p, footer i, footer a, footer span {
  color: #ffffff;
}
footer i {
  display: inline-block;
  margin-right: 20px;
}
footer div h3 {
  margin-bottom: 10px;
  color: #ffbf00;
}
footer #company {
  width: 30%;
}
footer #pages {
  width: 15%;
}
footer #training {
  width: 15%;
}
footer #find-us {
  width: 25%;
}
footer #find-us ul li {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
footer #find-us ul li a {
  color: #ffbf00;
}
footer #find-us ul li#address {
  margin-bottom: 10px;
}
footer #copyright {
  margin-top: 40px;
  width: 100%;
}
footer #copyright p {
  color: #ffbf00;
}
footer #copyright p a {
  color: #ffbf00;
}

@media screen and (max-width: 1050px) {
  footer div {
    margin-bottom: 40px;
  }
  footer #company {
    width: 50%;
  }
  footer #pages {
    width: 40%;
  }
  footer #training {
    width: 50%;
  }
  footer #find-us {
    width: 40%;
  }
}
@media screen and (max-width: 600px) {
  footer div {
    margin-bottom: 30px;
  }
  footer #company {
    width: 100%;
  }
  footer #pages {
    width: 100%;
  }
  footer #training {
    width: 100%;
  }
  footer #find-us {
    width: 100%;
  }
}
.heroBtn {
  background-color: #ffbf00;
  padding: 0.8rem 1.9rem;
  border: 2px solid #ffbf00;
  border-radius: 0.3rem;
}

.heroBtnNbg {
  background-color: none;
  padding: 0.8rem 1.9rem;
  border: 2px solid #ffbf00;
  border-radius: 0.3rem;
}

.mobileBtn {
  background-color: #003B65;
  padding: 0.8rem 1.9rem;
  border: 2px solid white;
  border-radius: 0.3rem;
  color: white;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  cursor: pointer;
  transition: transfrorm 0.2s ease-in;
}

.mobileBtn:hover {
  transform: scale(110%);
}

.mobileBtnNbg:hover {
  transform: scale(110%);
}

.mobileBtnNbg {
  background-color: none;
  padding: 0.8rem 1.9rem;
  border: 2px solid white;
  border-radius: 0.3rem;
  color: white;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  cursor: pointer;
  transition: transfrorm 0.2s ease-in;
}

.mobile {
  display: none;
}

.oBtn {
  background-color: #ffbf00;
  padding: 0.8rem 1.9rem;
  border: 2px solid #003B65;
  border-radius: 0.3rem;
}

.oBtnNbg {
  background-color: none;
  padding: 0.8rem 1.9rem;
  border: 2px solid #003B65;
  border-radius: 0.3rem;
}

#bghero {
  background: url("../images/programmes/frontendherobg.jpg");
  width: 100%;
  max-height: 80vh;
  -o-object-fit: cover;
     object-fit: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
#bghero h1 {
  width: 40%;
  line-height: 50px;
  margin-bottom: 20px;
}
#bghero p {
  width: 40%;
}
#bghero .btncont {
  margin-top: 50px;
  display: flex;
  gap: 50px;
}

#overview {
  padding-top: 100px;
}
#overview .oBtnCont {
  display: flex;
  gap: 20px;
  justify-content: center;
}
#overview .views {
  display: flex;
  justify-content: center;
  margin: 25px 200px;
}
#overview .danger {
  color: red;
}
#overview .nillview {
  display: none;
}

.bg {
  background-color: #003B65;
  color: white;
}

@media screen and (max-width: 1254px) {
  #bghero {
    padding-top: 30px;
  }
  #bghero h1 {
    line-height: 4rem;
    font-size: 3rem;
  }
  #bghero .btncont {
    margin-top: 1rem;
  }
  #bghero p {
    margin: 10px;
  }
}
@media screen and (max-width: 1254px) {
  #bghero h1 {
    font-size: 2.5rem;
  }
  #overview .views {
    margin: 25px 100px;
  }
}
@media screen and (max-width: 1000px) {
  #bghero h1 {
    width: 50%;
  }
  #overview .views {
    margin: 25px 50px;
  }
}
@media screen and (max-width: 809px) {
  #bghero h1 {
    font-size: 2rem;
  }
}
@media screen and (max-width: 647px) {
  #bghero h1 {
    line-height: 3rem;
  }
}
@media screen and (max-width: 611px) {
  .btncont button {
    display: none;
  }
  .mobile {
    display: block;
    background-color: #003B65;
    display: flex;
    justify-content: center;
    gap: 30px;
    padding: 50px;
  }
}
@media screen and (max-width: 611px) {
  .mobile {
    flex-direction: column;
    width: 100%;
  }
  .mobileBtnNbg {
    background-color: white;
    color: #003B65;
    font-weight: 700;
    font-size: 1.5rem;
    width: 100%;
  }
  .mobileBtn {
    background-color: white;
    color: #003B65;
    font-weight: 700;
    font-size: 1.5rem;
    width: 100%;
  }
}
@media screen and (max-width: 457px) {
  #bghero h1 {
    line-height: 2.7rem;
    font-size: 2rem;
    width: 100%;
  }
  #bghero {
    background: white;
    background-size: cover;
    -o-object-fit: cover;
       object-fit: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  #bghero p {
    color: #0006b1;
    width: 100%;
  }
  .oBtnNbg, .oBtnNbg {
    padding: 0.6rem 1rem;
  }
  .views {
    margin: 25px 0px;
  }
}
@media screen and (max-width: 363px) {
  #overview .oBtnCont {
    gap: 10px;
  }
  .mobileBtnNbg, .mobileBtn {
    padding: 2px 5px;
  }
  #overview .views {
    margin: 25px 0px;
  }
  #bghero p {
    width: 100%;
  }
  .oBtnNbg, .oBtnNbg {
    padding: 5px 8px;
    border-radius: 1px;
  }
}
@media screen and (max-width: 255px) {
  #bghero p {
    line-height: 22px;
  }
  .mobileBtnNbg, .mobileBtn {
    padding: 0;
    font-weight: 500;
    font-size: 1rem;
    border-radius: 1px;
  }
  .oBtnNbg, .oBtnNbg {
    padding: 2px;
    border-radius: 1px;
  }
}
#about-us {
  background-color: #003B65;
  padding-top: 40px;
  padding-bottom: 40px;
}
#about-us h2, #about-us p {
  color: white;
  text-align: center;
  padding-bottom: 15px;
}

#why-section {
  padding-bottom: 25px;
}
#why-section h2 {
  text-align: center;
  padding-bottom: 50px;
}
#why-section .gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 40px;
}
#why-section .gallery div img {
  width: 100%;
  height: auto;
  -o-object-fit: auto;
     object-fit: auto;
}
#why-section .gallery p {
  text-align: center;
  padding: 20px;
}
#why-section .gallery .box {
  box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px, rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
}

@media screen and (max-width: 1100px) {
  #about-us {
    margin-top: 100px;
  }
}
@media screen and (max-width: 800px) {
  #about-us {
    margin-top: 500px;
  }
}
@media screen and (max-width: 318px) {
  #about-us {
    margin-top: 550px;
  }
  .gallery div {
    width: auto;
  }
}
@media screen and (max-width: 252px) {
  #about-us {
    margin-top: 600px;
  }
  .gallery div {
    max-width: 80%;
  }
}
@media screen and (max-width: 208px) {
  #about-us {
    margin-top: 650px;
  }
  .gallery div {
    max-width: 70%;
  }
}
@media screen and (max-width: 180px) {
  #about-us {
    margin-top: 700px;
  }
  .gallery div {
    max-width: 60%;
  }
}
@media screen and (max-width: 155px) {
  #about-us {
    margin-top: 800px;
  }
  .gallery div {
    max-width: 50%;
  }
}
.QandA {
  margin-bottom: 40px;
}
.QandA h3 {
  margin-bottom: 10px;
}

.story-wrapper {
  max-width: 60%;
  margin: 0 auto;
}
.story-wrapper h2 {
  margin-bottom: 20px;
}
.story-wrapper img {
  margin-bottom: 40px;
}

.swiper {
  width: 100%;
  height: 100%;
}
.swiper p {
  height: 80px;
  line-height: 25px;
  font-size: 1.1rem;
  margin-top: 7px;
}
.swiper a:nth-last-child(1) {
  text-decoration: underline;
}

.swiper-slide {
  text-align: left;
  background: #fff;
  display: flex;
  justify-content: left;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  margin-bottom: 20px;
}

.swiper {
  width: 100%;
  height: 400px;
  margin: 20px auto;
}

.append-buttons {
  text-align: center;
  margin-top: 20px;
}

.append-buttons button {
  display: inline-block;
  cursor: pointer;
  border: 1px solid #007aff;
  color: #007aff;
  text-decoration: none;
  padding: 4px 10px;
  border-radius: 4px;
  margin: 0 10px;
  font-size: 13px;
}

.alumni h2 {
  text-align: center;
  margin-bottom: 30px;
}
.alumni .stories {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 40px;
}
.alumni .stories .story {
  border-radius: 7px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.alumni .stories .story img {
  border-radius: 7px 7px 0 0;
}
.alumni .stories .story div {
  padding: 15px;
}
.alumni .stories .story div p {
  height: 90px;
  line-height: 25px;
  font-size: 1.1rem;
}
.alumni .stories .story div .storylink {
  text-decoration: underline;
}

.swiper-pagination span {
  margin-top: 50px;
}

@media screen and (max-width: 800px) {
  .story-wrapper {
    max-width: 100%;
    margin: 0 auto;
  }
  .story-wrapper h2 {
    margin-bottom: 15px;
  }
  .story-wrapper img {
    margin-bottom: 15px;
  }
}
.form-wrapper {
  max-width: 80%;
  margin: 0 auto;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  padding: 40px;
}
.form-wrapper form {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.form-wrapper form .course-s {
  border: 0;
  outline: none;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  height: 55px;
  border-radius: 5px;
  padding-left: 9px;
  font-size: 1.2rem;
  margin-top: 25px;
}
.form-wrapper form .course-s:focus {
  border: 0;
}
.form-wrapper form .form-field {
  height: 45px;
  outline: none;
  border: none;
  border: 2px solid #0006b1;
  border-radius: 3px;
  padding-left: 5px;
  font-size: 1.2rem;
}
.form-wrapper form input[type=submit] {
  height: 45px;
  outline: none;
  border: none;
  border-radius: 3px;
  background-color: #003B65;
  color: white;
  font-size: larger;
  cursor: pointer;
  margin-top: 25px;
}
.form-wrapper form label {
  font-size: 1.3rem;
}
.form-wrapper form .row {
  display: flex;
  gap: 15px;
  width: 100%;
}
.form-wrapper form .form-group {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.form-wrapper form input[type=text]:focus, .form-wrapper form input[type=email]:focus, .form-wrapper form select:focus, .form-wrapper form input[type=number]:focus {
  border: 3px solid #0006b1;
}

#toast-container {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 1000;
}

.toast {
  color: #fff;
  border-radius: 5px;
  padding: 10px 15px;
  margin: 10px;
  opacity: 0;
  transition: opacity 0.5s;
}

.toast.success {
  background-color: #003B65; /* Green background for success toast */
}

.toast.error {
  background-color: #FF5722; /* Red background for error toast */
}

.toast.show {
  opacity: 1;
}

@media screen and (max-width: 615px) {
  form .row {
    flex-direction: column;
  }
}
.invitation-container {
  transform: scaleY(0);
  max-width: 400px;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  position: fixed;
  right: 20px;
  z-index: 100;
  bottom: 20px;
  transition: 0.2s ease-in-out;
}

.showIv {
  transform: scaleY(1);
}

#close-btn {
  cursor: pointer;
  color: #777;
  font-size: 20px;
  float: right;
  transition: 5s ease-in-out;
}

#invitation-text {
  margin-top: 20px;
}

#join-btn {
  display: block;
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #007BFF;
  color: #fff;
  text-align: center;
  text-decoration: none;
  border-radius: 5px;
  cursor: pointer;
}

.studentWrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
}
.studentWrapper .studentCard {
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  border-radius: 20px;
  width: 100%;
}
.studentWrapper .studentCard h3 {
  font-size: 1.2rem;
}
.studentWrapper .studentCard p {
  font-size: 0.9rem !important;
  color: #bdbdbd !important;
  font-weight: bold;
}
.studentWrapper .studentCard .imgWrapper {
  display: flex;
  position: relative;
  justify-content: center;
  height: 350px;
  overflow: hidden;
}
.studentWrapper .studentCard img {
  display: block;
  width: 70%;
  height: 100%;
  cursor: pointer;
  -o-object-fit: cover;
     object-fit: cover;
  transition: transform 0.3s ease;
}
.studentWrapper .imgWrapper:hover img {
  transform: scale(1.1);
}
.studentWrapper .studentCardDetails {
  padding-left: 40px;
  justify-content: center;
  background: linear-gradient(to top, #003B65, #003B65, #003B65, rgba(1, 3, 54, 0.9));
  border-radius: 0 0 20px 20px;
  display: flex;
  flex-direction: column;
  height: 150px;
}
.studentWrapper .studentCardDetails h3, .studentWrapper .studentCardDetails p {
  color: white;
}
.studentWrapper .studentCardDetails p {
  font-size: 0.8rem;
}
.studentWrapper .studentCardDetails h3 {
  margin-bottom: 10px;
}

.cohort {
  padding-top: 20px;
}
.cohort h1 {
  margin-bottom: 20px;
  font-size: 2rem;
}

.stdInfoWrapper {
  display: flex;
  align-items: center;
  gap: 20px;
}
.stdInfoWrapper .stdImgCont {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background-color: rgb(0, 59, 101);
}
.stdInfoWrapper .stdImgCont img {
  max-width: 300px;
  min-width: 300px;
  -o-object-fit: cover;
     object-fit: cover;
  padding: 10px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  border: 1px solid white;
}
.stdInfoWrapper .dtlCont {
  width: 100%;
}
.stdInfoWrapper .dtlCont .goal {
  color: #ffbf00;
}

.stdActionBtns {
  display: flex;
  margin-top: 20px;
  gap: 10px;
}
.stdActionBtns a {
  background-color: #003B65;
  border-radius: 5px;
  padding: 5px 10px;
  color: white;
  border: 1px solid white;
}
.stdActionBtns a:nth-child(even) {
  background-color: #003B65;
  border-radius: 5px;
  border: 1px solid white;
  color: white;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 15px;
}

th, td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

td a:hover {
  text-decoration: underline;
}

th {
  background-color: #f2f2f2;
  font-weight: bold;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

tr:hover {
  background-color: #ddd;
}

.tableWrapper {
  overflow-x: auto;
  margin-top: 1rem;
}
.tableWrapper .tableFilter {
  display: flex;
  justify-content: space-between;
}
.tableWrapper .tableFilter input {
  height: 7vh;
  padding-left: 5px;
  outline: none;
  border: 1px solid #003B65;
  border-radius: 3px;
}
.tableWrapper .tableFilter select {
  height: 7vh;
  padding-left: 5px;
  outline: none;
  border: 1px solid #003B65;
  border-radius: 3px;
}

@media screen and (max-width: 712px) {
  .stdInfoWrapper {
    flex-direction: column-reverse;
  }
  .stdInfoWrapper h1 {
    font-size: 1.8rem;
    margin-bottom: 15px;
    margin-top: 15px;
  }
  .cohort {
    padding-top: 20px;
  }
  .cohort h1 {
    margin-bottom: 20px;
    font-size: 1.5rem;
  }
}/*# sourceMappingURL=main.css.map */